<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
  <th:block th:fragment="scripts">
    <!--  toutes les pages  -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" th:src="@{/js/script.js}"></script>
    <script type="module" th:src="@{/js/utils/fetch-utils.js}"></script>
    <script type="module" th:src="@{/js/utils/message-utils.js}"></script>

    <th:block th:if="${page == 'auth'}">
      <script type="module" th:src="@{/js/auth/auth.js}"></script>
    </th:block>

    <th:block th:if="${page == 'events'}">
      <script type="module" th:src="@{/js/events/events.js}"></script>
    </th:block>

    <th:block th:if="${page == 'events-detail'}">
      <script type="module" th:src="@{/js/events/event-detail.js}"></script>
    </th:block>


    <th:block th:if="${page == 'account'}">
      <script type="module" th:src="@{/js/user/account.js}"></script>
    </th:block>

    <th:block th:if="${page == 'organizer'}">
      <script type="module" th:src="@{/js/organizer/organizer.js}"></script>
    </th:block>

    <th:block th:if="${page == 'admin'}">
      <script type="module" th:src="@{/js/admin/admin.js}"></script>
    </th:block>



  </th:block>
</body>
</html>